page-home {
    .login-background{
        width: 100%;
        height: 100%;
        background-image: url("../assets/images/family.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
}

