// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
$primary-color-dark:   #0288D1;
$primary-color:        #03A9F4;
$primary-color-light:  #B3E5FC;
$primary-color-text:   #FFFFFF;
$accent-color:         #CDDC39;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

.toolbar {
    height: 74px;
}

.toolbar-background {
    background-color: $primary-color;
}

.toolbar-title {
    color: $primary-color-text;
    letter-spacing: 1px;
    text-indent: 0;
    font-weight: normal;
}

.fixed-content {
    margin-top: 74px;
}

.scroll-content{
    margin-top: 74px;
    padding: 0px;
    overflow: auto;
}